################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G1051S01/.vs/G1051S01
/G1063S01/.vs/G1063S01
